.movies-container {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.movie-list {
    padding: 10px;
}
.movie-item {
    width: 48%;
    margin: 1%;
}
.search-component {
    margin: 2% 2% 0 2%;
    display: flex;
    flex-wrap: nowrap;
}
.search-component .search {
    width: 75%;
    margin-right: 5%;
}
.search-component .search-btn {
    width: 20%;
}